* {
  box-sizing: border-box;
}

html {
  /*background-color: #27DEFF;*/
  font-family: Arial;
  color: #090D66;
  font-size: 14px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
}

li {
  font-size: 20px;
  display: inline-block;
  width: 24%;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #090D66;
  border: 1px solid #090D66;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.5);
  transition: background-color .5s, color .5s;
}

li a:hover {
  background-color: #090D66;
  color: white;
}

nav {
  position: absolute;
  top: 30px;
}

nav, ul {
  width: 100%;
}

ul {
  padding: 0;
}

.banner {
  width: 100%;
  opacity: .5;
}

.banner-text {
  position: absolute;
  top: 120px;
  text-align: center;
  width: 100%;
  padding: 0 25%;
}

.inline-wrapper {
  margin-top: -3px;
}

.inline-wrapper div {
  display: inline-block;
  width: 33%;
  position: relative;
}



.inline-wrapper div img {
  width: 100%;
  height: 300px;
  transition: opacity .5s;
}

.inline-wrapper img {
  width: 100%;
  height: 100000px;
  transition: opacity .5s;
}

.inline-wrapper div h4 {
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: opacity .5s;
  text-align: center;
  width: 100%;
  font-size: 43px;
  margin: 0;
  transform: translateY(-50%);
}

.inline-wrapper div:hover h4 {
  opacity: 1;
}

.inline-wrapper div:hover img {
  opacity: .3;
}

.hamburger div {
  width: 30px;
  height: 5px;
  background-color: #FF381B;
  margin-top: 5px;
}

.mobile-nav {
  width: 100%;
  background-color: white;
  padding: 10px;
  display: none;
}

/*table tr th, table tr td {
  border: 1px solid #090D66;
  padding: 5px;
}*/

.games-topic {
  text-align: center;
}

.table-wrapper {
  width: 100%;
  text-align: center;
}

table {
  margin: 0 auto;
}

.container {
  padding: 0 25%;
}

.contact-topic {
  text-align: center;
  font-size: 2rem;
}

.contact-form input, .contact-form textarea {
  margin: 10px;
  font-size: 1rem;
  /*padding: 30px;*/
}

.page-top {
  margin-top: 100px;
}

.huge-text {
  font-size: 10rem;
}

@media(max-width: 888px) {

  .inline-wrapper div {
    width: 49.7%;
  }

  .banner {
    height: 400px;
    width: auto; 
  }

  .banner-text {
    padding: 0 10%;
  }

}

@media(max-width: 737px) {

  .inline-wrapper div {
    width: 100%;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  nav {
    top: 0;
  }

}

